[Package]
version: <PACKAGE_VERSION>
depends: 
incremental: False

[Product]
type: localboot
id: mozilla-firefox
name: Mozilla Firefox
description: Webbrowser
advice: 
version: <VERSION>
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 
























