[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: htpc
name: HTPC
description: 
advice: 
version: 1.0
priority: -1
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: kodi
requiredAction: setup

